<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav.twig.html') %}

<div id="about">
  <div id="aboutbox">
    <h1>About Flare</h1>
    <p>
      Flare was founded in 1997 by Jamie Archer. Meant for use between herself and her brother, it has since expanded into a world-wide communication site.
    </p>
    <p>
      This is a work of fiction. Names, characters, businesses, places, events, locales, and incidents are either the products of the author’s imagination or used in a fictitious manner. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.
    </p>
    <button>See our blog</button>
  </div>
</div>

</body>
{% include('footer.twig.html')%}
</html>
