<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav2.twig.html') %}

<div id="helpPage">
  <div id="help">
    <h1>Need Help?</h1>
    <p>Have questions about Flare? Found an error? Can't find something? Ask your questions here.</p>
    <form id="searchQuestion">
      <input id="findQuestion" type="text" name="question" placeholder="enter your question here">
      <button>Submit</button>
    </form>
    <h3>Popular Links</h3>
    <p>
      <a href="">How do I add friends?</a>
      <br><a href="">My chats aren't showing up.</a>
      <br><a href="">My page isn't loading.</a>
      <br><a href="">Can I change my username?</a>
      <br><a href="">What's up, dog?</a>
    </p>
  </div>
</div>


</body>
</html>
