<!DOCTYPE html>
<html lang="en">

  {% include('head.twig.html') with {'title':title} %}

<body>

{% include('nav.twig.html') %}
{% include('title.twig.html') with {'title': title}%}

<div id="info">
  <div id="iimg"></div>
  <div class="invisiblock"></div>
  <div class="invisiblock">
    <h1>message. call. facetime.</h1>
    <div id="infos">
      Get ahead now. You can use Flare for instant messaging, or you can call your buddies or even facetime. Send documents to your colleagues with a simple click. Share photos of a recent experience. Add friends! Glow up Flare with your own personal flair.
      <p>It's simple to get started.
      <div class="get">
        <a href="install.php">See more features</a>
      </div>
    </div>
  </div>
</div>

</body>

{% include('footer.twig.html')%}

</html>
