<!DOCTYPE html>
<html lang="en">

  {% include('head.twig.html') with {'title':title} %}

<body>

{% include('nav.twig.html') %}
{% include('title.twig.html') with {'title': title}%}

<div id="info">
  <div id="iimg"></div>
  <div class="invisiblock"></div>
  <div class="invisiblock">
    <h1>message. call. facetime.</h1>
    <div id="infos">
      Get ahead now. You can use Flare for instant messaging, or you can call your buddies or even facetime. Send documents to your colleagues with a simple swipe. Share your photos.
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel temporibus, ea doloremque consequatur repudiandae enim ipsa praesentium blanditiis itaque, velit explicabo rerum consectetur accusamus nisi magni dicta beatae eveniet sed.
      <div class="get">
        See more features
      </div>
    </div>
  </div>
</div>

</body>

{% include('footer.twig.html')%}

</html>
