<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav.twig.html') %}

<div id="login">
  <div id="loginbox">
    <div id="loginin">
      <div id="log">
        <h1>Login</h1>
        <form action="logging.php" method="post">
          <input type="text" name="username" placeholder="username">
          <input type="text" name="password" placeholder="password">
          <button>Log In</button>
        </form>
        <a onclick="register()" href="#">Not registered? Sign up here.</a>
      </div>
      <div id="log2">
        <h1>Register</h1>
        <form action="register.php" method="post">
          <input type="text" name="email" placeholder="email">
          <input type="text" name="username" placeholder="username">
          <input type="text" name="password1" placeholder="type your password">
          <input type="text" name="password2" placeholder="type your password again">
          <button>Sign Up</button>
        </form>
        <a onclick="moveback()" href="#">Go Back.</a>
      </div>
    </div>
  </div>
</div>

</body>
{% include('footer.twig.html')%}
</html>
