<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav2.twig.html') %}

<div id="settings">
  <h1>Privacy</h1>
  <div id="icons">
    <div class="subsetting">
      <a href="editUsername.php" title="Edit Username"><span class="th th-id-card-o"></span></a>
      <br>Edit Username
    </div>
    <div class="subsetting">
      <a href="editPassword.php" title="Edit Password"><span class="th th-login-o"></span></a>
      <br>Update Password
    </div>
  </div>
</div>


</body>
</html>
