<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav2.twig.html') %}

<div id="settings">
  <h1>Settings</h1>
  <div id="icons">
    <div class="subsetting">
      <a href="" title="Profile"><span class="th th-user-3-o"></span></a>
      <br>Profile
    </div>
    <div class="subsetting">
      <a href="privacy.php" title="Privacy"><span class="th th-key-o"></span></a>
      <br>Privacy
    </div>
    <div class="subsetting">
      <a href="" title="Alerts"><span class="th th-idea-o"></span></a>
      <br>Alerts
    </div>
    <div class="subsetting">
      <a href="" title="Voice & Video Settings"><span class="th th-video-player-1-o"></span></a>
      <br>Video Chat
    </div>
    <div class="subsetting">
      <a href="" title="Theme"><span class="th th-blueprint-o"></span></a>
      <br>Theme
    </div>
    <div class="subsetting">
      <a href="" title="Business"><span class="th th-briefcase-o"></span></a>
      <br>Business
    </div>
    <div class="subsetting">
      <a href="" title="Shop"><span class="th th-gift-o"></span></a>
      <br>Shop
    </div>
    <div class="subsetting">
      <a href="" title="Premium"><span class="th th-diamond-o"></span></a>
      <br>Premium
    </div>
  </div>
</div>


</body>
</html>
