<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('nav2.twig.html') %}

<div id="settings">
  <h1>Settings</h1>
  <div id="icons">
    <div class="subsetting">
      <a href="" title="Theme"><span class="th th-blueprint-o"></span></a>
      <br>Theme
    </div>
    <div class="subsetting">
      <a href="" title="Profile"><span class="th th-user-3-o"></span></a>
      <br>Profile
    </div>
    <div class="subsetting">
      <a href="" title="Privacy"><span class="th th-key-o"></span></a>
      <br>Privacy
    </div>
    <div class="subsetting">
      <a href="" title="Premium"><span class="th th-diamond-o"></span></a>
      <br>Premium
    </div>
  </div>
</div>


</body>
</html>
