/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Nunito:200,300,400');


/* colors */
@bg:#fafafa; // background white
@dorange:#FF6200; // flare orange
@orange:#FF7417; // mid orange
@lorange:#FF9742; // light orange
@black:#444;
@darkgrey:#666;
@white:#fff;
@lightgrey:#ccc;
@faintgrey: #e6e6e6;
@lshade: rgba(0,0,0,0.1);
@vwhite:rgba(250,250,250,0.9);

/* font */
@family: 'Nunito', Arial, sans-serif;

/* stylings */
@auto-margin:0px auto;
@transition: all 0.5s ease-in-out;
@none: 0px;
@c: center;
@vh: 100vh;
@full:100%;

/* images */
@image1: url('images/blonde-computer.jpg');
@image2:url('images/woman-holding-phone.jpg');
@pattern:url('images/cubes.png');
@install: url('images/computer-hand.jpg');
@about: url('images/demographic.jpg');
@contact: url('images/contact.jpg');

/* flex & center everything */
.flex {
  display:flex;
  align-items:center;
  justify-content:center;
  align-content:center;
}
.flexEnd {
  display:flex;
  flex-wrap:wrap;
  align-items:flex-end;
  align-content:flex-end;
  justify-content:flex-end;
}

/* body */
body {
  background:@bg;
  margin:@none;
  padding:@none;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  &::-webkit-scrollbar {
    width:10px;
  }
  &::-webkit-scrollbar-thumb {
    background:@lshade;
  }
  &::-webkit-scrollbar-track {
    background:@bg;
  }
}

#head {
  width:100%;
  height:100vh;
  position:relative;
  display:flex;
  flex-wrap:no-wrap;
  align-content:@c;
  justify-content:flex-start;
  align-items:@c;
  padding:@none;
  margin:@auto-margin;
  overflow:hidden;
  #timg {
    position:absolute;
    top:0px; right:0px;
    width:51%;
    height:@vh;
    background-image: linear-gradient(to right,@bg, transparent),@image1;
    background-position:@c @c;
    background-size:cover;
    z-index:-1;
  }
  .titlec {
    width:100%;
    height:auto;
    display:flex;
    align-items:@c;
    justify-content:@c;
    text-transform:capitalize;
    #logo {
      background:@orange; /* flare orange */
      width:200px;
      height:200px;
      border:20px solid rgba(250,250,250,0.4);
      border-radius:100%;
      text-align:@c;
      animation-name:pulse;
      animation-duration:1s;
      animation-iteration-count:infinite;
      animation-direction:alternate;
      margin-right:50px;
      #logoc {
        background:@orange;
        width:160px;
        height:160px;
        border-radius:100%;
        border:20px solid rgba(250,250,250,0.2);
      }
    }
    #title {
      font-family:@family;
      font-weight:200;
      font-size:100px;
      color:@black;
      text-align:left;
      line-height:100%;
      padding:@none;
      #subt {
        font-family:@family;
        font-size:20px;
        font-weight:400;
        letter-spacing:3px;
        text-transform:Uppercase;
        color:@darkgrey;
        line-height:100%;
        padding:0px 8px;
      }
      @keyframes pulse {
        0% {
          filter:brightness(100%);
        }
        100%{
          filter:brightness(125%);
        }
      }
    }
  }
}

.invisiblock {
  width:50%;
  height:@vh;
  position:relative;
  .flex();
  flex-wrap:wrap;
}

.get {
  padding:15px 10px;
  border-radius:25px;
  background:@orange;
  color:@white;
  font-family:@family;
  font-weight:400;
  letter-spacing:5px;
  font-size:12px;
  text-align:@c;
  line-height:100%;
  text-transform:uppercase;
  margin-top:20px;
  transition:@transition;
  &:hover {
    background:@lorange;
  }
  a {
    text-decoration:none;
    color:@white;
  }
}

/* nav bar */
#nav {
  width:@full;
  height:12px;
  margin:@auto-margin;
  padding:15px 0px;
  display:flex;
  flex-wrap:no-wrap;
  align-items:@c;
  justify-content:space-evenly;
  align-content:@c;
  position:fixed;
  top:0px; left:0px;
  z-index:5;
  background:@bg;
  a {
    font-family:@family;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:6px;
    color:@black;
    text-decoration:none;
    font-weight:400;
    transition:@transition;
    &:hover {
      color:@orange;
    }
  }
}

/* nav bar 2 */
#nav2 {
  grid-area:sidebar;
  z-index:10;
  width:80px;
  height:@vh;
  background:@white;
  position:fixed;
  top:0px; right:0px;
  display:flex;
  flex-wrap:wrap;
  align-items:flex-end;
  align-content:flex-end;
  justify-content:flex-end;
  .homeicon {
    position:absolute;
    top:0px; right:0px;
    width:80px;
    text-align:center;
    padding:20px 0px;
  }
  a {
    color:@orange;
    text-decoration:none;
    font-size:30px;
    width:100%;
    text-align:center;
    margin-bottom:20px;
  }
}

/* info on main page */
#info {
  width:@full;
  height:@vh;
  position:relative;
  display:flex;
  #iimg {
    position:absolute;
    top:0px; left:0px;
    width:50%;
    height:@vh;
    background-image: linear-gradient(to left,#fafafa, transparent),@image2;
    background-position:@c @c;
    background-size:cover;
    z-index:-1;
  }
  h1 {
    position:relative;
    font-family:@family;
    font-size:30px;
    text-transform:uppercase;
    letter-spacing:5px;
    color:@black;
    font-weight:300;
    text-align:@c;
    margin:@none;
    width:@full;
  }
  #infos {
    font-family:@family;
    font-size:15px;
    color:@black;
    text-align:justify;
    width:350px;
    margin:30px auto;
  }
}

/*login */
#login {
  .flex();
  width:@full;
  height:@vh;
  margin-top:40px;
  background-color:@lorange;
  background-image:@pattern;
  font-family:@family;
  #loginbox {
    width:450px;
    height:450px;
    overflow:hidden;
    position:relative;
    #loginin {
      width:800px;
      display:flex;
      flex-wrap:no-wrap;
      position:absolute;
      top:0px; left:0px;
      transition:all 0.5s ease-in-out;
      h1{
        font-family:@family;
        font-weight:300;
        font-size:50px;
        width:@full;
        color:@white;
        margin:@none;
        padding:10px 0px;
      }
      input {
        padding:10px 20px;
        background:@white;
        border-radius:25px;
        color:black;
        margin:5px 0px;
        width:350px;
        border:@none;
        &::placeholder{
          color:#aaa;
        }
      }
      a {
        color:@white;
        padding:10px 5px;
      }
      button {
        padding:10px;
        background:@white;
        border:@none;
        font-size:15px;
        font-family:@family;
        font-weight:700;
        width:100px;
        border-radius:25px;
        text-align:center;
        margin:5px 0px;
        color:@lorange;
      }
      #log {
        width:400px;
        position:relative;
        padding:25px;
      }
      #log2 {
        width:400px;
        position:relative;
        padding:25px;
      }
    }
  }
}

/* install page */
#install {
  width:@full;
  height:@vh;
  background:@install;
  background-attachment:fixed;
  background-size:cover;
  background-position:center center;
  margin-top:20px;
  .flex();
  #installbox{
    width:400px;
    background:@vwhite;
    padding:50px;
    font-family:@family;
    border-radius:10px;
    h1 {
      color:black;
      margin:0px;
      text-align:center;
      font-weight:100;
      font-size:50px;
      border-bottom:1px solid @orange;
    }
    button {
      padding:10px;
      color:@white;
      border:@none;
      font-size:15px;
      font-family:@family;
      font-weight:700;
      width:100%;
      border-radius:25px;
      text-align:center;
      margin:5px 0px;
      background:@lorange;
    }
  }
}

/* about */
#about {
  width:@full;
  height:@vh;
  background:@about;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;

}

/* contact */
#contact {
  width:@full;
  height:@vh;
  background:@contact;
  background-attachment:fixed;
  background-size:cover;
  background-position:center center;
  margin-top:20px;
  .flex();
  padding:50px 0px;
  #contactbox{
    width:400px;
    background:@vwhite;
    padding:50px;
    font-family:@family;
    border-radius:10px;
    h1 {
      color:black;
      margin:0px;
      text-align:center;
      font-weight:100;
      font-size:50px;
      border-bottom:1px solid @orange;
    }
    #contactForm{
      margin:0px;
      padding:0px;
      display:grid;
      input{
        padding:10px;
        border-radius:25px;
        border:1px solid #ccc;
        margin:2px;
        width:1fr;
        color:black;
        &::placeholder {
          color:#aaa;
        }
      }
    }
    button {
      padding:10px;
      color:@white;
      border:@none;
      font-size:15px;
      font-family:@family;
      font-weight:700;
      width:1fr;
      border-radius:25px;
      text-align:center;
      margin:5px 0px;
      background:@lorange;
    }
  }
}

/* logged in page */
#logging {
  width:100vw;
  height:@vh;
  background:@faintgrey;
  position:absolute;
  top:0px; left:0px;
  overflow:hidden;
  display:grid;
  grid-template-columns:20% 1fr 80px;
  grid-template-areas:"friendbar chat sidebar";
  #friends {
    grid-area:friendbar;
    width:100%;
    height:@vh;
    background:@white;
    position:absolute;
    top:0px; left:0px;
    overflow-y:auto;
    .friendchat {
      .flex();
      flex-wrap:no-wrap;
      padding:20px 0px;
      font-family:@family;
      font-size:15px;
      text-transform:capitalize;
      border-bottom:1px solid @lightgrey;
    }
    .selected {
      background:@faintgrey;
    }
  }
  #chatc {
    grid-area:chat;
    width:100%;
    height:100vh;
    position:relative;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:1fr 50px;
    grid-template-areas:
      "cspace"
      "textbox";
    #chatspace {
      grid-area:cspace;
      width:100%;
      height:1fr;
      overflow-y:auto;
      overflow-x:hidden;
      .bubbleC {
        .flexEnd();
        width:98%;
        padding:5px 1% 5px 1%;
        .chatBubble {
          background:@orange;
          padding:10px;
          color:@white;
          margin:0px 10px;
          border-radius: 25px 25px 0px 25px;
          font-family:@family;
          font-size:15px;
        }
      }
    }
  }
  #textbox {
    grid-area:textbox;
    width:100%;
    height:100%;
    background:#333;
    .flex();
    flex-wrap:no-wrap;
    #messageForm {
      margin:0px;
      padding:0px;
      width:100%;
      .flex();
      flex-wrap:no-wrap;
    }
    input {
      flex-grow:1;
      margin:5px 10px;
      border:1px solid #666;
      background:#444;
      color:@white;
      text-align:left;
      border-radius:25px;
      padding:10px;
    }
    button {
      width:50px;
      background:transparent;
      border:none;
      span {
        color:@white;
        font-size:15px;
      }
    }
  }
}

/* friend page */
#friendPage {
  width:@full;
  height:@vh;
  .flex();
  flex-wrap:wrap;
  font-family:@family;
  background:@pattern;
  h1 {
    font-family:@family;
    width:@full;
    text-align:center;
  }
  #addFriends {
    margin:0px;
    padding:0px;
    width:100%;
    .flex();
  }
  input {
    width:50%;
    padding:10px 15px;
    border:1px solid #ccc;
    border-radius:25px;
    margin-right:10px;
    font-family:@family;
  }
  button {
    border-radius:25px;
    font-family:@family;
    color:@white;
    background:@orange;
    text-align:center;
    border:none;
    padding:10px 15px;
  }
}

/* help page */
#helpPage {
  width:@full;
  height:@vh;
  .flex();
  flex-wrap:wrap;
  font-family:@family;
  background:@pattern;
  background-color:@orange;
  #help {
    width:50%;
    color:#fff;
    h1 {
      font-family:@family;
      width:@full;
      text-align:center;
      color:@white;
    }
    input {
      width:1fr;
      padding:10px 15px;
      border:1px solid #ccc;
      border-radius:25px;
      font-family:@family;
      &::placeholder {
        color:#aaa;
      }
    }
    button {
      border-radius:25px;
      color:@white;
      background:@lorange;
      text-align:center;
      border:none;
      padding:10px 15px;
      margin-top:5px;
      width:1fr;
      font-family:@family;
      font-weight:bold;
    }
    #searchQuestion {
      margin:0px;
      padding:0px;
      display:grid;
    }
    a {
      color:@white;
      transition:@transition;
      &:hover {
        color:#aaa;
      }
    }
  }
}

#settings {
  width:@full;
  height:@vh;
  background:#eee;
  font-family:@family;
  h1 {
    text-align:center;
    margin:0px;
    padding:30px 0px;
  }
  #icons {
    .flex();
    margin-right:80px;
    flex-wrap:wrap;
    .subsetting {
      color:black;
      font-size:2vw;
      text-align:center;
      margin: 2vw 5vw;
      line-height:40px;
      a {
        color:@orange;
        text-decoration:none;
        span {
          font-size:9vw;
        }
      }
    }
  }
}

/* footer */
footer {
  background:@bg;
  padding:30px;
  text-align:@c;
  font-family:@family;
  font-size:10px;
  color:@black;
  letter-spacing:5px;
  a {
    color:@black;
    text-decoration:none;
    margin:0px 10px;
    transition:@transition;
    &:hover {
      color:@orange;
    }
  }
}
