<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Pokedex</title>
</head>
<body>

<div class="goback">
  <a href="javascript:history.back()">Go Back</a>
</div>

<div id="selected">

{% for info in pokemon %}

<h1>#{{info["natid"]}}&nbsp;{{info["name"]}}</h1>

<div class="stats {{info.type|e}}">
  <span>{{info.type}}</span>
  <span class="hp">{{info.hp}}</span>
  <span class="atk">{{info.atk}}</span>
  <span class="def">{{info.def}}</span>
  <span class="satk">{{info.satk}}</span>
  <span class="sdef">{{info.sdef}}</span>
  <span class="spd">{{info.spd}}</span>
  <span class="bst">{{info.bst}}</span>
</div>

{% endfor %}

<div class="strengths">
  <div class="box">
    <b>Vulnerable To:</b>
    <p>
      {% for type in vulnerable %}
      <br>{{type["Vulnerable To"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Weak Against:</b>
    <p>
      {% for type in weakness  %}
      <br>{{type["Weak Against"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Strong Against:</b>
    <p>
      {% for type in strengths  %}
      <br>{{type["Strong Against"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Resistant To:</b>
    <p>
      {% for type in resistants  %}
      <br>{{type["Resistant To"]}}
      {% endfor %}
    </p>
  </div>
</div>

{% for info in megas %}

<div class="mega {{info.type}}">
  <span class="megatype">{{info.name}}</span>
  <span>{{info.type}}</span>
</div>

{% endfor %}

</div>

</body>
</html>
