<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('header.twig.html') with {'title' : title} %}
{% include('sidebar.twig.html') %}

<div id="wrapper">

<div id="pokecard">
  <div class="favcard Ground">

  </div>
</div>

<div class="container">
  {% for pokemon in pokedex %}
    <div class="card">
      <div class="num">
        #{{pokemon.natid}}
        <a href="page2.php?pokemon={{pokemon.name | url_encode}}">{{pokemon["name"]}}</a>
      </div>
      <div class="type">
        <div class="{{pokemon.type}}">
          <a href="index.php?type={{pokemon.type | url_encode}}">{{pokemon["type"]}}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

</div>

</body>
</html>
