<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('header.twig.html') with {'title' : title} %}
{% include('sidebar.twig.html') %}

<div id="wrapper">

<div id="pokecard">
  {% if fav is not empty %}
    {% for pokemon in fav %}
    <div class="favcard">
      <h1>#{{pokemon.natid}}:&nbsp;<a href="index.php?unfav={{pokemon.name | url_encode}}">{{pokemon.name}}</a></h1>
      <h3 class="{{pokemon.type}}">{{pokemon.type}}</h3>
    </div>
    {% endfor %}
  {% endif %}
</div>

<div class="container">
  {% for pokemon in pokedex %}
    <div class="card">
      <div class="num">
        #{{pokemon.natid}}
        <a href="index.php?fav={{pokemon.name | url_encode}}">{{pokemon.name}}</a>
      </div>
      <div class="type">
        <div class="{{pokemon.type}}">
          {{pokemon.type}}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

</div>

</body>
</html>
