<!DOCTYPE html>
<html lang="en">

{% include('head.twig.html') %}

<body>

{% include('sidebar.twig.html') %}

<div id="selected">

{% for info in pokemon %}

{% set fav = fav|merge([info["name"]]) %}

<h1>#{{info["natid"]}}&nbsp;{{info["name"]}}</h1>

<div class="stats {{info.type|e}}">
  <span>{{info.type}}</span>
  <span class="hp">{{info.hp}}</span>
  <span class="atk">{{info.atk}}</span>
  <span class="def">{{info.def}}</span>
  <span class="satk">{{info.satk}}</span>
  <span class="sdef">{{info.sdef}}</span>
  <span class="spd">{{info.spd}}</span>
  <span class="bst">{{info.bst}}</span>
</div>

{% endfor %}

<div class="strengths">
  <div class="box">
    <b>Vulnerable To:</b>
    <p>
      {% for type in vulnerable %}
      <br>{{type["Vulnerable To"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Weak Against:</b>
    <p>
      {% for type in weakness  %}
      <br>{{type["Weak Against"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Strong Against:</b>
    <p>
      {% for type in strengths  %}
      <br>{{type["Strong Against"]}}
      {% endfor %}
    </p>
  </div>
  <div class="box">
    <b>Resistant To:</b>
    <p>
      {% for type in resistants  %}
      <br>{{type["Resistant To"]}}
      {% endfor %}
    </p>
  </div>
</div>

{% for info in megas %}

<div class="mega {{info.type}}">
  <span class="megatype">{{info.name}}</span>
  <span>{{info.type}}</span>
</div>

{% endfor %}

</div>

</body>
</html>
